[submodule "backend/common"]
	path = backend/common
	url = git@github.com:EduPulseAI/common.git
[submodule "backend/quiz-service"]
	path = backend/quiz-service
	url = git@github.com:EduPulseAI/quiz-service.git
[submodule "backend/sse-service"]
	path = backend/sse-service
	url = git@github.com:EduPulseAI/sse-service.git
[submodule "backend/profile-service"]
	path = backend/profile-service
	url = git@github.com:EduPulseAI/profile-service.git
